body {
    margin: 0;
    font-family: "Roboto", sans-serif;
  }
  
  .todos-bg-container {
    background-color: #f9fbfe;
    min-height: 100vh;
    padding: 20px;
  }
  
  .container {
    max-width: 600px;
    margin: auto;
  }
  
  .todos-heading {
    text-align: center;
    font-size: 46px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  
  .create-task-heading,
  .todo-items-heading {
    font-size: 32px;
    font-weight: 700;
  }
  
  .create-task-heading-subpart,
  .todo-items-heading-subpart {
    font-weight: 500;
  }
  
  .todo-user-input {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    border: 1px solid #e4e7eb;
    border-radius: 10px;
    font-size: 16px;
  }
  
  .button {
    background-color: #4c63b6;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    padding: 10px 20px;
    margin: 20px 0;
    cursor: pointer;
  }
  
  .todo-items-container {
    list-style-type: none;
    padding: 0;
  }
  
  .todo-item-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .checkbox-input {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  .label-container {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e6f6ff;
    border-left: 5px solid #096f92;
    border-radius: 5px;
    padding: 10px 15px;
  }
  
  .checkbox-label {
    font-size: 16px;
  }
  
  .delete-icon {
    color: red;
    cursor: pointer;
    margin-left: 10px;
    font-size: 20px;
  }
  
  .delete-icon:hover {
    color: darkred;
  }
  
  .checked {
    text-decoration: line-through;
    color: #888;
  }
  